<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>ABOUT</title>
            <link rel="stylesheet" href="/public/css/style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
<body>
<% include blocks/header.ejs %>
<h1>ABOUT</h1>
<p>CONGRATS</p>
<p>
    <b>Email: </b><%=data.email%><br>
    <b>Pass: </b><%=data.pass%><br>
    <b>isCheck: </b><%=data.check%><br>
</p>
</body>
</html>